.card {
    width: 96px;
    height: 144px;
}
/*
.card .back {
    background-image: url('../../assets/cards/card-back1.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
*/

.card .front {
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.card.card-type-SA .front {
    background-image: url('../../assets/cards/card-spades-1.png');
}

.card.card-type-CA .front {
    background-image: url('../../assets/cards/card-clubs-1.png');
}

.card.card-type-HA .front {
    background-image: url('../../assets/cards/card-hearts-1.png');
}

.card.card-type-DA .front {
    background-image: url('../../assets/cards/card-diamonds-1.png');
}